=grid($t-rows, $t-cols)
  display: grid
  grid-template-rows: $t-rows
  grid-template-columns: $t-cols

=grid-position($row_start, $row_end, $col_start, $col_end)
  grid-row-start: $row_start
  grid-row-end: $row_end
  grid-column-start: $col_start
  grid-column-end: $col_end

=text-big
  font-size: 4vmin
  line-height: 5vmax

// =text-sml
//   font-size: 3vmin
// 	line-height: 5vmin

=font-poppins
  font-family: 'Poppins', sans-serif

=font-playfair
  font-family: 'Playfair Display SC', serif
