
body
  +grid(repeat(4,1fr),repeat(8, 1fr))
  background-color: #1B1B1E
  color: white
  +font-poppins

.title
  +font-playfair

.number
  font-size: 13vmin
  line-height: 75px
  display: inline-block
  margin: 0
  opacity: 0.2
