.ability
  .symbol-box
    %img.symbol{alt: "hash", src: ability['symbol_path']}
    .circle{style: "background-color: #{ability['color']}" }
  %h3
    = ability['name']
  %ul
    -ability['items'].each do |item|
      %li
        = item