
- project_path = 'layouts/project'

.showcase
  #first-project
    = partial(project_path, locals: { data_of_project: 'Story Weavers'})
  #second-project
    = partial(project_path, locals: { data_of_project: 'adoptMEow'})
  #third-project
    = partial(project_path, locals: { data_of_project: 'adoptMEow'})