.find-me You can also find me here:
.socials
  %a{:href => "https://github.com/phfdonda"}
    %img.social{:alt => "github", :src => "images/github.svg"}/
  %a{:href => "https://www.linkedin.com/in/pedro-donda/"}
    %img.social{:alt => "linkedin", :src => "images/linkedin.svg"}/
  %a{:href => "https://twitter.com/phfdonda"}
    %img.social{:alt => "twitter", :src => "images/twitter.svg"}/