
- path = "layouts/section"


%section#introduction
  = partial(path, locals: { data_of_section: 'introduction' })

%section#portfolio
  = partial(path, locals: { data_of_section: 'portfolio' })

%section#about-me
  = partial(path, locals: { data_of_section: 'about-me' })

%section#get-in-touch
  = partial(path, locals: { data_of_section: 'get-in-touch' })
